.Titulo_principal{
    padding-left: 30px;
}

#banner{
    width: 100%;
}
.principal{
    background: #CCCCCC;
    padding: 20px;
}
h2{
    text-align: center;
}
p{
    text-align: center; 
}
em strong{
    color: red;
}
#mision{
    font-size: 20px;
}
.diferenciales{
    background: #ffffff;
    padding: 30;
}
.titulo_en_el_centro{
    text-align: center;
}
.items{
    font-style:italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagendiferenciales{
    width: 50%;

}
